
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Home/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Ana Sayfaya Dön</span>
                </a>
            <li>
                <a href="/AdminUser/Index/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıcı Bilgileri</span>
                </a>
            </li>
            <li>
                <a href="/Login/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>